<form (ngSubmit)="enviar()" [formGroup]="formVideo">
	<koala-dialog
		btnCloseColor="warn"
		btnCloseLabel="Fechar"
		[iconTitleDialog]="this.video ? 'edit' : 'queue_play_next'"
		[titleDialog]="this.video ? 'Editar video' : 'Enviar novo vídeo'">
		
		<div dialog-content>
			<koala-dynamic-form
				[formConfig]="formVideoConfig"
				[form]="formVideo">
			</koala-dynamic-form>
		</div>
		
		<div dialog-actions>
			<button
				(click)="excluir()"
				*ngIf="this.video"
				class="mr-8"
				color="warn"
				mat-raised-button
				type="button">
				Excluir
			</button>
			<koala-submit
				[btnLabel]="btnLabel"
				[btnSubmitDisabled]="btnSubmitDisabled"
				[fg]="formVideo"
				[loader]="loader">
			</koala-submit>
		</div>
		
	</koala-dialog>
</form>
