<koala-folder-page
	customFolderBackgroudColor="#212121"
	customFolderFontColor="#f1f1f1"
	titleIcon="slideshow"
	titlePage="Meu Acervo">
	
	<nav menu-page>
		<koala-button
			(click)="novoVideo()"
			backgroundColor="transparent"
			color="white"
			icon="queue_play_next"
			text="Enviar novo vídeo">
		</koala-button>
	</nav>
	
	<section *ngIf="videos$ | async as videos" content>
		<mat-card *ngFor="let video of videos" class="card-video">
			<img *ngIf="video.poster | async as poster" [alt]="poster.src" [src]="poster.alt" mat-card-image/>
			<mat-card-header>
				<mat-card-title>{{video.tituloOriginal}}</mat-card-title>
				<mat-card-subtitle>{{categoriaTranslate.translate(video.categoria).name}}</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
	</section>
	
</koala-folder-page>
