<div *ngIf="(video$ | async) as videoInfo; else showLoader">
    <section>
      <div class="header-video">
        <koala-button
          backgroundColor="transparent"
          class="mr-8"
          color="white"
          icon="arrow_back"
          [routerLink]="'/video/' + videoInfo.video.id"
          tooltip="Voltar">
        </koala-button>
        <div class="video-info">
          <h1>{{videoInfo.video.tituloOriginal + ' - ' + videoInfo.arquivo?.titulo}}</h1>
          <small>{{videoInfo.arquivo.temporada}}ª Temporada</small>
        </div>
        <mat-checkbox [formControl]="controlReproducaoAutomatica">Reprodução Automática</mat-checkbox>
      </div>
      <video #videoEl controls [poster]="videoInfo.video.poster" crossorigin="anonymous">
        <source type="video/mp4" [src]="getUriVideo()">
        <track default label="Português (Brasil)" [src]="getUriSubtitle()">
      </video>
    </section>
</div>

<ng-template #showLoader>
  <div class="loader">
    <mat-spinner color="primary" diameter="60"></mat-spinner>
  </div>
</ng-template>
