<nav class="toolbar">
  <figure>
    <img src="/assets/icons/icon.png"/>
    <figcaption>Local Streaming</figcaption>
  </figure>
  <div class="btn-group-action">
    <button (click)="minimize()" mat-icon-button>
      <mat-icon class="icon">remove</mat-icon>
    </button>
    <button (click)="resize()" mat-icon-button>
      <mat-icon *ngIf="fullscreenMode" class="icon">fullscreen_exit</mat-icon>
      <mat-icon *ngIf="!fullscreenMode" class="icon">fullscreen</mat-icon>
    </button>
    <button (click)="close()" class="close" mat-icon-button>
      <mat-icon class="icon">close</mat-icon>
    </button>
  </div>
</nav>
